.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #818EA3;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}
.card{
}
.header{
    font-family: Helvetica;
    font-size: 29px;
    color: #3D5170;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}
.h1 {
    color: #3D5170;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    width: 150px;
}
.titleRow {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page {
    text-align:center;
    color: #007BFF;
}
.for_preloader{
    width: 100%;
    height: 100%;    
    position: absolute;
    z-index: 10;
    text-align: center;
}
.selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-between;
    align-items:center;
    margin-left: 21px;
    margin-right: 21px;
}
.selector{
    width: 150px;
}
.date {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.datapick{
    margin-left: 8px;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-left: none;
    border-right: none;    
    $datepicker__selected-color: #0EC261 !important;
    font-family: Helvetica;
    font-size: 11px;
}
.picks{
    display: flex;
    width:fit-content;
    flex-direction: row;
    align-items: flex-end;
}
.withPick{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.withPick p{
    font-family: Helvetica;
    font-size: 11px;
    color: #868E96;
}
.title {
    color: #868E96;
    font-size: 11px;
    font-family: Helvetica;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.row_button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 100%;
}


@media (max-width: 780px){
    .block {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    }
    .header{
        display: none;
    }
    .selectors {
        height: min-content;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .selector{
        margin-top: 8px;
        width: 150px;
        height: 70px;
    }        
    .card{
        overflow-Y: auto;
        height: 100%;
    }
}