.component{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}
.title {
    margin-top: 16px;
    margin-left: 8px;
    font-family: Helvetica;
    font-size: 29px;
    color: #3D5170;
}