.header{
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 0;
    overflow: hidden;
    position: fixed;
}
.search {
    margin-left: 285px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    svg {
        fill: #CACEDB;
    }
}
.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 70px;
        width: auto;
    }
}
